body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.todo-item {
  margin-bottom: 10px;
  display: flex;
}

#input-todo {
  margin-bottom: 10px;
  width: 90%;
}

.todo-item input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

.todo-item button {
  padding: 5px 10px;
  font-size: 16px;
}
